.benefits {
  // .benefits__title

  &__title {
    @include mobile {
      margin-bottom: 50px;
    }
  }

  // .benefits__list

  &__list {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 40px;

    @include mobile {
      grid-template-columns: repeat(6, 1fr);
    }
  }

  // .benefits__item

  &__item {
    grid-column: 4 span;
    @include high-desktop {
      grid-column: 6 span;
    }
  }

  // .benefits__subtitle

  &__subtitle {
    display: inline-flex;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 160%;
    color: var(--dark-color);
    @include mobile {
      margin: 0;
      margin-bottom: 10px;
    }
  }

  // .benefits__desc

  &__desc {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 160%;
    color: var(--test-color);
    @include mobile {
      margin: 0;
      margin-bottom: 30px;
    }
  }
}
