.graph-modal {
  // .graph-modal__container

  &__container {
  }

  // .graph-modal__close

  &__close {
    top: 40px;
    right: 85px;
    @include small-tablet {
      top: 30px;
      right: 65px;
    }
  }

  // .graph-modal__content

  &__content {
  }

  &::before {
    @include tablet {
      display: none;
    }
  }
}
.popup {
  width: 100%;
  max-width: 940px;
  padding: 40px 50px 40px 40px;
  @include small-tablet {
    padding: 54px 30px 50px 30px;
  }
  // .popup__top

  &__top {
    display: flex;
    align-items: flex-start;
    justify-content: start;
  }

  // .popup__image

  &__image {
    width: 160px;
    height: 222px;
    margin-right: 40px;
    margin-bottom: 40px;

    @include mobile {
      margin-right: 30px;
      margin-bottom: 0px;
    }
  }

  // .popup__text

  &__text {
  }

  // .popup__title

  &__title {
    margin: 0;
    margin-bottom: 10px;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 160%;
    color: var(--dark-color);
  }

  // .popup__subtitle

  &__subtitle {
    margin: 0;
    margin-bottom: 10px;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 160%;
    color: var(--text-color);
  }

  // .popup__bottom

  &__bottom {
    &-content {
      max-height: 354px;
    }
  }

  .simplebar-vertical {
    background: rgba(20, 16, 36, 0.08);
    width: 5px;
  }
  .simplebar-scrollbar {
    &::before {
      left: 0;
      right: 0;
      opacity: 1;
      background-color: var(--dark-color);
      border-radius: 20px;
    }
  }
}
