.order {
  @include image-set("../../img/percents");
  padding: 87px 0px;
  background-color: var(--accent-color);
  background-size: cover;
  background-position: bottom center;

  @include mobile {
    padding: 50px 0px;
  }
  // .order__container

  &__container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 30px;
  }

  // .order__left

  &__left {
    grid-column: 1/6;
    padding-left: 60px;

    @include small-tablet {
      grid-column: 12 span;
      padding: 0px 10px;
    }
  }

  // .order__right

  &__right {
    grid-column: 7 / end;
    padding-right: 60px;

    @include small-tablet {
      min-width: 80%;
      grid-column: 12 span;
      padding-right: 0;
      justify-self: center;
    }

    @include mobile {
      min-width: auto;
    }
  }
  // .order__title

  &__title {
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 130%;
    color: var(--light-color);
  }

  // .order__descr

  &__descr {
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 130%;
    color: var(--light-color);
  }

  // .order__form

  &__form {
    max-width: 500px;
    @include small-tablet {
      max-width: auto;
    }
  }
}
