<div class="graph-modal">
  <div class="graph-modal__container popup" role="dialog" aria-modal="true" data-graph-target="trainer-1">
    <button class="btn-reset js-modal-close graph-modal__close" aria-label="Закрыть модальное окно">Закрыть</button>
    <div class="graph-modal__content">
      <div class="popup__top">
        <div class="popup__image">
          <picture>
            <source srcset="../img/trainers/trainer-1.avif" type="image/avif">
            <source srcset="../img/trainers/trainer-1.webp" type="image/webp">
            <img loading="lazy" src="../img/trainers/trainer-1.jpg" class="image" width="160" height="222"
              alt="Марина Орлова">
          </picture>
        </div>
        <div class="popup__text">
          <h4 class="popup__title">Марина Орлова</h4>
          <p class="popup__subtitle">преподаватель по робототехнике</p>
          <ul class="social list-reset">
            <li class="social__item">
              <a href="#" target="_blank" class="social__link">
                <svg class="">
                  <use xlink:href="img/sprite.svg#fb-icon"></use>
                </svg>
              </a>
            </li>
            <li class="social__item">
              <a href="#" target="_blank" class="social__link">
                <svg class="">
                  <use xlink:href="img/sprite.svg#instagram-icon"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>

      </div>
      <div class="popup__bottom">
        <div class="tabs" data-tabs="popup-tabs">
          <ul class="tabs__nav">
            <li class="tabs__nav-item"><button class="tabs__nav-btn" type="button">Образование</button></li>
            <li class="tabs__nav-item"><button class="tabs__nav-btn" type="button">Опыт работы</button></li>
            <li class="tabs__nav-item"><button class="tabs__nav-btn" type="button">Награды</button></li>
          </ul>
          <div class="tabs__content">
            <div class="tabs__panel">
              <div class="popup__bottom-content" data-simplebar>
                <div class="tabs__descr">
                  <p class="tabs__text">
                    Сентябрь 1995 — Июнь 2000</p>
                  <p class="tabs__text">Санкт-Петербургский политехнический университет Петра Великого</p>
                  <p class="tabs__text">Факультет: Компьютерных наук и технологий</p>
                  <p class="tabs__text">Специальность: Математика и компьютерные науки</p>
                  <p class="tabs__text">Форма обучения: Очная</p>
                  <span class="tabs__descr-title">Курсы и тренинги</span>
                  <p class="tabs__text">
                    Ноябрь 2020 — Февраль 2021</p>
                  <p class="tabs__text">Программа дополнительного образования «3D Моделирование»</p>
                  <p class="tabs__text">Место проведения: Институт дополнительного образовани</p>
                  <p class="tabs__text">Программа дополнительного образования «3D Моделирование»</p>
                  <p class="tabs__text">Место проведения: Институт дополнительного образовани</p>
                </div>
              </div>
            </div>
            <div class="tabs__panel">
              <div class="popup__bottom-content" data-simplebar>
                <div class="tabs__descr">
                  <p class="tabs__text">
                    Сентябрь 1995 — Июнь 2000</p>
                  <p class="tabs__text">Санкт-Петербургский политехнический университет Петра Великого</p>
                  <p class="tabs__text">Факультет: Компьютерных наук и технологий</p>
                  <p class="tabs__text">Специальность: Математика и компьютерные науки</p>
                  <p class="tabs__text">Форма обучения: Очная</p>
                  <span class="tabs__descr-title">Курсы и тренинги</span>
                  <p class="tabs__text">
                    Ноябрь 2020 — Февраль 2021</p>
                  <p class="tabs__text">Программа дополнительного образования «3D Моделирование»</p>
                  <p class="tabs__text">Место проведения: Институт дополнительного образовани</p>
                </div>
              </div>
            </div>
            <div class="tabs__panel">
              <div class="popup__bottom-content" data-simplebar>
                <div class="tabs__descr">
                  <p class="tabs__text">
                    Сентябрь 1995 — Июнь 2000</p>
                  <p class="tabs__text">Санкт-Петербургский политехнический университет Петра Великого</p>
                  <p class="tabs__text">Факультет: Компьютерных наук и технологий</p>
                  <p class="tabs__text">Специальность: Математика и компьютерные науки</p>
                  <p class="tabs__text">Форма обучения: Очная</p>
                  <span class="tabs__descr-title">Курсы и тренинги</span>
                  <p class="tabs__text">
                    Ноябрь 2020 — Февраль 2021</p>
                  <p class="tabs__text">Программа дополнительного образования «3D Моделирование»</p>
                  <p class="tabs__text">Место проведения: Институт дополнительного образовани</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
