<section class="tarifs section-offset" id="tarifs">
  <div class="container tarifs__container">
    <h2 class="section-title tarifs__title">Выберите нужный пакет</h2>
    <ul class="list-reset tarifs__list">
      <li class="tarifs__item tarifs__item-current">
        <h3 class="tarifs__caption">PRO</h3>
        <div class="tarifs__price">20.000 ₽</div>
        <p class="tarifs__subtitle">УМК по робототетхнике и программированию</p>
        <div class="tarifs__btn btn btn-reset">Оставить заявку</div>
      </li>
      <li class="tarifs__item">
        <h3 class="tarifs__caption">ROBO</h3>
        <div class="tarifs__price">15.000 ₽</div>
        <p class="tarifs__subtitle">УМК по робототетхнике </p>
        <div class="tarifs__btn btn btn-reset">Оставить заявку</div>
      </li>
      <li class="tarifs__item">
        <h3 class="tarifs__caption">PROG</h3>
        <div class="tarifs__price">10.000 ₽</div>
        <p class="tarifs__subtitle">УМК по программированию</p>
        <div class="tarifs__btn btn btn-reset">Оставить заявку</div>
      </li>
    </ul>
  </div>
</section>
